body {
  font-size: 10px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search {
  margin: 0px;
  background-color: #fff;
  border-radius: 20px;
  width: 300px;
  .MuiOutlinedInput-notchedOutline {
    border-style: none;
    position: relative;
  }
}

.searchList {
  position: absolute;
  width: 300px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  top: 40px; /* Adjust based on the actual height of your TextField */
  left: 0;
  z-index: 10; /* High enough to overlay other components but not too high */
}

.listItem {
  color: #000;
}

.fixedNavbar {
  position: fixed;
  background-color: #30343b !important;
  height: 5rem;
  margin-bottom: 2rem;
  padding-top: 8px;
}

@media (max-width: 630px) {
  .search {
    margin-top: 20px;
    width: 180px;
    background-color: #fff;
    border-radius: 20px;
    .MuiOutlinedInput-notchedOutline {
      border-style: none;
      position: relative;
    }
  }

  .imagePreview{
    width: 100%;
    height: 250px;
    object-fit: cover; 
  }

  .searchList {
    position: absolute;
    width: 180px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    top: 40px;
    left: 0;
    z-index: 10;
  }
}

.smallScreen {
  padding-top: 15px;
}

.loading {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagePreview{
  width: 100%;
  height: 400px;
  object-fit: cover; 
}
